@media all and (max-width: 767px) {
    #login .jumbotron {
        width: 100%;
        margin: 10px;
        padding: 20px;
    }

    #login .left_column {
        text-align: center;
    }

    #login .right_column {
        padding-top: 20px;
    }

    .navbar .glyphicon {
        vertical-align: bottom;
    }
}

@media all and (min-width: 768px) {

    #login .jumbotron {
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    #login .left_column {
        text-align: center;
    }

    #login .right_column {
        border-left: 1px solid #bdbdbd;
    }
}

body {
    padding-top: 70px;
}

.container-fluid {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar .glyphicon {
    font-size: 22px;
}

.navbar .navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 17px;
}

#positions_section .btn-add {
    margin-top: 10px;
    margin-left: 10px;
}

#positions_section button {
    width: 77px;
    margin-right: 10px;
}

#missingUsername {
    color: red;
    display: none;
}

#missingPassword {
    color: red;
    display: none;
}

#add_candidate_button {
    margin-bottom: 11px;
    margin-top: 11px;
    margin-right: 30px;
}

#cancelButton {
    margin-right: 10px;
}

#fix{
    margin-top: 50px;
}

.form-group > label {
    padding-top: 5px;
}

#name{
    margin-bottom: 15px;
}
#email{
    margin-bottom: 15px;
}

#languageSkill{
    margin-bottom: 15px;
}

#referer{
    margin-bottom: 15px;
}

#phone{
    margin-bottom: 15px;
}

#description{
    margin-bottom: 15px;
}

textarea{
    resize: none;
}
.form-inline .form-control {
    width: 185px;
}
#searchButton{
    margin-left: 30px;
}

#search{
    padding-right: 0px;
    padding-left: 0px;
}